body {
    padding-top: 50px;
}

div .jumbotron{
    font-family: sans-serif;

}

h1 .megamind{
    font: bold;
    font-size: large;
    text-align: center;
}

#booking-list {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 10vh;
    row-gap: 10vh;
}

.booking {
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    border-width: 1.5px;
}

.booking-info {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-info a {
    background-color: #007bff;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.booking-info a:hover {
    background-color: #00bfff;
    transition: 0.5s all;
}
