{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<p>This webpage is about {{ name }}.</p>
<p>TRK Party Rental was established by Robert Reid in 2010 and is a company that rents various
equipment for many different events. Currently, equipment booking is tedious and currently
consists of a “pen-to-paper” method; a manual booking system which can be difficult to track.
The secretary manually enters customers information which includes: their name, contact
number, email address, the venue, time, duration of the event and the equipment they would like
to rent. A billing information which includes the cost and payment status of each booked event is
also presented.
The proposed application software will, therefore, provide a platform which will be used for
online booking. The main aim of the TRK Online Booking System is to automate the process of
renting equipment this will aid streamline the planning and tracking process of each booking.
</p>
<p>The webpage was created by UWI Students for their COMP2171 Project.
    The group members are as follows:
    <li> {{g1}} </li>
    <li> {{g2}} </li>
    <li> {{g3}} </li>
    <li> {{g4}} </li>
    <li> {{g5}} </li>
</p>
{% endblock %}

