<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href={{ url_for('home') }}>TRK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
      {% if current_user.is_authenticated and current_user.is_supervisor()%}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('createBooking') }}">Book Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('newEmployee') }}">Register Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('viewBooking') }}">View Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('clientSearch') }}">Search Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('report') }}">Generate Report</a>
      </li>
      {% elif current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('createBooking') }}">Book Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('viewBooking') }}">View Bookings</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
