{% extends "base.html" %}
{% block main %}
<h1>Bookings</h1>
<div id="booking-list">
    {% for booking in bookings %} 
    <div class='booking'>
        <div class="booking-info">
            <h4>Booking #{{booking[0].id}}</h4>
            <p>Booking For {{ booking[0].cfname}} {{booking[0].clname}}</p>
            <p>Requested Date: {{booking[0].event_date}}</p>
            <p>Address: {{booking[0].address}}</p>
            <p>Contact Information: {{booking[0].contact}}</p>
            <div class="equipmentlist">
                <h6>Requested Equipment:</h6>
                {% for equipment in booking[1] %}
                <li> {{equipment.equip_name}} </li>
                {%endfor%}
            </div>
            <div class="view-booking">
                <a href="{{url_for('editBooking',bookingid=booking[0].id)}}"> Edit Booking</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}
